<h2> <%=user.username %>'s List of following </h2>
<div class="ui horizontal list">
<% if(user.Followings) {%>
    <% followings.forEach((following) => { %>
    <div class="item">
    <% const follow = user && user.Followings.map(f => f.id).includes(following.id); %>
    <input id="myId" type="hidden" value="<%= user.id %>">
    <input id="page-user-id" type="hidden" value="<%= following.id %>">
    <div class="ui special cards">
        <div class="card" style="width:100px;height:130px;">
            <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <%if(user && user.id !== following.id && !follow) {%>
                            <div class="ui inverted button"><div class="userFollow">Follow</div></div>
                            <% } else { %>
                            <div class="ui inverted button"><div class="userUnFollow">UnFollow</div></div>
                            <% } %>
                        </div>
                    </div>
                </div>
            <img src="<%= following.img %>">
            </div>
            <div class="content" style="padding:7px;text-align: center;cursor:pointer;" onclick="location.href='/users/<%= following.username %>'">
                <div class="header"><%= following.username %></div>
            </div>
    </div>
  </div>
  </div>
  <% }); %>
<% } %>
</div>

<h2> <%=user.username %>'s List of follower </h2>
<div class="ui horizontal list">
<% if(user.Followers) {%>
    <% followers.forEach((follower) => { %>
    <div class="item">
    <% const follow = user && user.Followings.map(f => f.id).includes(follower.id); %>
    <input id="myId" type="hidden" value="<%= user.id %>">
    <input id="page-user-id" type="hidden" value="<%= follower.id %>">
    <div class="ui special cards">
        <div class="card" style="width:100px;height:130px;">
            <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <%if(user && user.id !== follower.id && !follow) {%>
                            <div class="ui inverted button" id="userFollow1">Follow</div>
                            <% } else { %>
                            <div class="ui inverted button" id="userUnFollow1">UnFollow</div>
                            <% } %>
                        </div>
                    </div>
                </div>
            <img src="<%= follower.img %>">
            </div>
            <div class="content" style="padding:7px;text-align: center;cursor:pointer;" onclick="location.href='/users/<%= follower.username %>'">
                <div class="header"><%= follower.username %></div>
            </div>
    </div>
  </div>
  </div>
  <% }); %>
<% } %>
</div>

<h2> <%=user.username %>'s List of tags followed</h2>
<div class="ui horizontal list">
<% followTag.forEach((tag) => {%>
    <div class="item">
    <div style="margin-bottom:10px;">
    <div class="ui block header" style="display:inline-block;cursor:pointer;" onclick="location.href='/tag/<%= tag.title %>'">
    <h3 style="display:inline-block;cursor:pointer;"> <%= tag.title %> </h3>
    </div>
    </div>
    </div>
<% }); %>
</div>