<div class="timeline">
<div class="container" style="width:50%; margin-left:25%;">
  <div class="ui placeholder segment">
      <div class="ui middle aligned two column grid">
        <div class="column">
          <form action="/process/login" method="POST">
          <div class="ui form error">
            <div class="field" id="username-field">
              <label>Email</label>
              <div class="ui left icon input">
                <input type="email" name='email' placeholder="Email" required>
                <i class="user icon"></i>
              </div>
            </div>
            <div class="field" id="password-field">
              <label>Password</label>
              <div class="ui left icon input">
                <input type="password" name="password" required>
                <i class="lock icon"></i>
              </div>
            </div>
          </form>
            <div class="ui blue submit button">
              <button class="ui blue button" type="submit">Login</button>
            </div>
          </div>
        </div>
        <div class="middle aligned column">
          <div class="ui big button" onclick="location.href='/signup'" style="cursor:pointer;">
            <i class="signup icon"></i>
            Sign Up
          </div>
        </div>
      </div>
      <div class="ui vertical divider">
        Or
      </div>
  </div>
  <% if(loginError.length !== 0) {%>
            <div class="ui error icon message">
            <i class="close icon"></i>
              <i class="ban icon"></i>
              <div class="content">
                <div class="header">
                  <%= loginError %>
                </div>
              </div>
            </div>
    <% } %>
</div>

    <div class="ui center aligned header" style="margin:10px;">
    <% if(typeof(tags) === 'string') {%>
    <h1 style="display : inline;"> <%= tags %> </h1>
    <input id="tag-title" type="hidden" value="<%= tags %>">
</div>

    <div class="ui five cards">
    <% pages.forEach((page) => {%>
    <!--UI card views start-->
    <div class="ui link card" style="margin:20px;height:100%;border-radius:0px;box-shadow:none;">
      <div class="content" style="padding:0px 0px 0px 0px;">
         <div class="center aligned header" onclick="location.href='/pages/<%= page.id %>'" style="font-size:25px;cursor:pointer;padding:0px 10px 0px 10px;margin:5px 0px 5px 0px;"><%= page.title %></div>
        <div class="ui divider" style="margin:0px 0px 5px 0px;"></div>
        <div class="meta" style="padding:0px 10px 0px 10px;">
            <% var minTimes = Math.round(((new Date().getTime() - page.createdAt) / 1000)/60) %>
            <% if(minTimes<1) { %>
                <span class="right floated time" style="margin-top:6px;"> just ago </span>
            <% } %> 
            <% if(minTimes>1 && minTimes<60){ %> <!--시간단위로 보여줌-->
                <span class="right floated time" style="margin-top:6px;"> <%= Math.round((minTimes)) %> Minutes ago </span>
            <% } %>
            <% if(minTimes>60 && minTimes<1440){ %> <!--시간단위로 보여줌-->
                <span class="right floated time" style="margin-top:6px;"> <%= Math.round((minTimes/60)) %> Hours ago </span>
            <% } %>
            <% if(minTimes>=1440 && minTimes<10080) {%> <!--일단위로 보여줌-->
                <span class="right floated time" style="margin-top:6px;"> <%= Math.round((minTimes/1440)) %> Days ago </span>
            <% } %>
            <% if(minTimes>=10080 && minTimes<43800) {%> <!--주단위로 보여줌-->
                <span class="right floated time" style="margin-top:6px;"> <%= Math.round((minTimes/10080)) %> Weeks ago </span>
            <% } %>
            <% if(minTimes>=43800 && minTimes<525600) {%> <!--월단위로 보여줌-->
                <span class="right floated time" style="margin-top:6px;"> <%= Math.round((minTimes/43800)) %> Months ago </span>
            <% } %>
            <% if(minTimes>=525600) {%> <!--년단위로 보여줌-->
                <span class="right floated time" style="margin-top:6px;"> <%= Math.round((minTimes/525600)) %> Years ago </span>
            <% } %>
            <!--tag 아코디언-->
            <div class="tag" style="width : 100px;">
                <div class="ui fluid accordion">
                    <div class="title">
                      <i class="dropdown icon"></i>
                      Tags
                    </div>
                    <div class="content" style="padding:0px;text-align: center;">
                      <span class="transition hidden" style="display:block;">
                        <% page.hashtags.forEach((hashtag) => {%>
                            <span class="ui basic labels">
                                <a class="ui basic label" href="/tag/<%= hashtag.title %>">
                                    <%= hashtag.title %>
                                </a>
                            </span>
                        <% }); %>
                      </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="image" onclick="location.href='/pages/<%= page.id %>'" style="cursor:pointer;">
            <% if(page.img) { %>
            <div class="page-img">
                <img src="<%= page.img %>" alt='Thumbnail' style="max-width: 100%;">
            </div>
            <% } %>
        </div>
      </div>
      <div class="extra content" style="padding:10px 10px 5px 10px;">
        <i class="comments outline icon"></i>
            <%= page.comments.length %>
        <i class="heart outline icon"></i>
            <%= page.likes.length %>
        <div class="right floated author" onclick="location.href='/users/<%= page.user.username %>'" style="cursor:pointer;">
            <img class="ui avatar image" src="<%= page.user.img %>"> <%= page.user.username %>
        </div>
      </div>
    </div>
    <!--UI card views finish-->
    <div style="clear:both:"></div>
    <% }); %>
</div>
    </div>
<%}; %>
