<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
     <link rel="canonical" href="http://localhost:3000/">
  </head>
  <body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"> </script>
    <!-- Three.js -->
    <script src="https://cdn.jsdelivr.net/npm/three@0.106.2/build/three.min.js"></script>
    <!-- Library for controlling the camera -->
    <script src="https://cdn.jsdelivr.net/npm/three@0.106.2/examples/js/controls/OrbitControls.js"></script>
    <!-- library to handle glTF -->
    <script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.106.2/examples/js/loaders/DRACOLoader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r16/Stats.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.2.2/jszip.js" integrity="sha256-bBikss7mndcF6KmskR4ihPSlxoyGAxuG4Gf/rzolOTg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip-utils/0.1.0/jszip-utils.js" integrity="sha256-LHSkUPHMSUn27PhY1e0igWj5XMsMYDkls0YalZosEbg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js" integrity="sha256-c3RzsUWg+y2XljunEQS0LqWdQ04X1D3j22fd/8JCAKw=" crossorigin="anonymous"></script>

    <header>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </header>
    <section>
      <button class="gltfUploadBtn ui button">GLTF Upload</button>
<!--GLTF Upload modal Start-->
      <div class="ui GLTF fullscreen modal" id="upload-modal">
        <i class="close icon"></i>
        <div class="header">
          GLTF Upload
        </div>
        <div class="image scroll content">
          <div class="image">
            <div class="ui large image" >
              <div id="gltfPreview" src="" alt="preview">
              </div>
            </div>
          </div>
          <div class="gltf Upload description">
            <form class="ui form" action="/gltfUpload" method="post" enctype="multipart/form-data">
              <input id="gltf-url" type="hidden" name="gltfUrl">
              <input id="preview-img" type="hidden" name="previewImg">
                <div class="field">
                  <label>Title</label>
                    <input id="assetTitle" type="text" name="title">
                </div>
                <div class="field">
                  <label>Author</label>
                    <input id="assetAuthor" type="text" name="author" value="" readonly>
                </div>
                <div class="field">
                  <label>Description</label>
                    <textarea rows=""name="description" maxlength="300" onkeydown="resize(this)" onkeyup="resize(this)"style="resize: none;"></textarea>
                </div>
                <div class="field">
                  <label class="gltf-label" for="gltf">GLTF Upload</label>
                    <input id="gltfInp" type="file" webkitdirectory directory multiple>
                </div>
                <div class="field">
                  <div class="ui mini horizontal statistic" style="display:none" id='previewImg'>
                    <h4 class="ui header" id="ThumbnailImg">Thumbnail</h4>
                    <img class="ui medium image" id="previewImgUrl" src="">
                  </div>
                </div>
                <div class="actions">
                  <button class="ui positive right labeled icon button" type="submit" id="gltfUploadBtn">
                    Submit
                    <i class="checkmark icon"></i>
                  </button>
                </div>
              </form>
          </div>
      </div>      
<!--GLTF Upload modal Finish--> 
    </section>
    <main>
      <%pages.forEach((page) => {%>
      <div class="ui card">
        <a class="image" href="/post/<%=page.id%>">
          <img src="<%=page.preview_img%>" alt='Thumbnail'>
        </a>
        <div class="content">
          <a class="header" href="/post/<%=page.id%>"><%=page.title%></a>
          <div class="description">
            <p><%=page.description%></p>
          </div>
          <div class="meta">
            <a><%=page.createdAt%></a>
          </div>
        </div>
      </div>
      <%});%>
    </main>
    <aside>

    </aside>
  <script> 
    $('.ui.GLTF.fullscreen.modal')
    .modal('attach events', '.gltfUploadBtn.ui.button', 'show')
     .modal({
    observeChanges: true
    })
    ;
    function resize(obj) {
    obj.style.height = "1px";
    obj.style.height = (12+obj.scrollHeight)+"px";
    };
  
  var formData = new FormData();
  document.getElementById('gltfInp').addEventListener('change', function (evt) {
    $.getScript('/javascripts/preview.js');
    var zip = new JSZip();
    var relativePath = this.files[0].webkitRelativePath;
    var folder = relativePath.split("/");
    const folderName = folder[0];
    var gltfZip = zip.folder(folderName);
    for (var i = 0; i < this.files.length; i++) {
        var f = this.files[i];
        gltfZip.file(f.webkitRelativePath, f,{
          comment: f.webkitRelativePath,
          type:"blob"
      });
    }
    var content = gltfZip.generateAsync({type:"blob"})
    .then(function(content){
      console.log(content);
      formData.append('gltf', content,`${folderName}.zip`);
      html2canvas(document.querySelector('#gltfPreview'), {
        useCORS: true, // 다른사이트의리소스가있을때활성화(그러나...Access-Control-Allow-Origin 필요)
        onrendered: function(canvas) {
            canvas.toBlob(function(blob) {
              formData.append('previewImg', blob,`${folderName}.jpeg`);
              for (var value of formData.values()) {
                console.log(value);
              }
              var xhr = new XMLHttpRequest();
              xhr.onload = function() {
                if (xhr.status === 200 || xhr.status === 201) {
                  console.log(JSON.parse(xhr.responseText));
                  var gltfUrl = JSON.parse(xhr.responseText).gltfUrl;
                  var previewImgUrl = JSON.parse(xhr.responseText).previewImgUrl;
                  document.getElementById('gltf-url').value = gltfUrl;
                  document.getElementById('preview-img').value = previewImgUrl;
                  document.getElementById('previewImgUrl').src = previewImgUrl;
                  document.getElementById('previewImg').style.display = 'inline';
                } else {
                  console.error(xhr.responseText);
                }
              };
              xhr.open('POST', '/gltfZipUpload');
              xhr.send(formData);
            });
          }
      });
    });
  });
  </script>
  </body>
</html>
