<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../partials/stylesheet') %>
    <link rel=" shortcut icon" href="../images/logo.ico">
    <link rel="icon" href="../images/logo.ico">
  </head>
  <body>
    
    <% if(user && user.id) {%>
    <%- include('../partials/LoginHeader') %> 
    <%- include('../partials/follow') %>
    <%} else {%>
      <%- include('../partials/nonLoginHeader') %> 
      <%- include('../partials/firstHome') %>
    <% } %>
    <% if(loginError) {%>
      <%= loginError %>
    <% } %>

    <%- include('../partials/footer') %>
    <%- include('../partials/javascript') %>