<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../partials/stylesheet') %>
    <link rel=" shortcut icon" href="../images/logo.ico">
    <link rel="icon" href="../images/logo.ico">
  </head>
  <body>
    <%- include('../partials/nonLoginHeader') %> 
    <%- include('../partials/nonLoginpages') %>
    <%- include('../partials/footer') %>
    <%- include('../partials/javascript') %>