<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../partials/stylesheet') %>
    <link rel=" shortcut icon" href="../images/logo.ico">
    <link rel="icon" href="../images/logo.ico">
  </head>
  <body>
    
    <% if(user && user.id) {%>
    <%- include('../partials/LoginHeader') %> 
    <%- include('../partials/pages1') %>
    <%} else {%>
      <%- include('../partials/nonLoginHeader') %> 
      <%- include('./signup.ejs') %>
    <% } %>

    <%- include('../partials/footer') %>
    <%- include('../partials/javascript') %>